<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard </title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/custom.css" rel="stylesheet"/>
    <link href="/css/bootstrap-multiselect.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Master App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Dashboard</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <div class="row well">
                <h2> <span th:text="${master.isPersist()} ? Edit : Add"></span> Master</h2>
                <form id="contact-form" th:object="${master}" th:method="${master.isPersist()} ? post : put" th:action="${master.isPersist()} ? edit : new">

                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_fullname">Full Name *</label>
                                    <input id="form_fullname" type="text" th:field="*{fullName}" name="full-name"
                                           class="form-control" placeholder="Please enter full name *"
                                           required="required" data-error="Full name is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_masterof">Master of *</label>
                                    <input id="form_masterof" type="text" name="master-of" th:field="*{masterOf}"
                                           class="form-control" placeholder="Please enter master skill *"
                                           required="required" data-error="Mastor of is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="form_address">Address </label>
                                    <input id="form_address" type="text" th:field="*{address}" name="address"
                                           class="form-control" placeholder="Please enter address" required="required"
                                           data-error="Address is required">
                                    <div class=" help-block with-errors">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="form_city">City</label>
                                    <input id="form_city" type="text" th:field="*{city}" name="city"
                                           class="form-control"
                                           placeholder="Please enter city">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="form_phone">Phone</label>
                                    <input id="form_phone" type="tel" th:field="*{phone}" name="phone"
                                           class="form-control"
                                           placeholder="Please enter phone" required="required"
                                           data-error="Phone number is required">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" th:field="*{email}" name="email"
                                           class="form-control" placeholder="Please enter email *" required="required"
                                           data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_service">Services</label>

                                    <select id="form_service" class="multiselect-ui form-control" th:field="*{services}"
                                            multiple="multiple">
                                        <option th:each="service : *{services}"
                                                th:field="*{services}"
                                                th:value="${{service}}"
                                                th:text="${service.name}">[service name]
                                        </option>
                                        <option th:each="service : ${services}"
                                                th:field="*{services}"
                                                th:value="${{service}}"
                                                th:text="${service.name}">[service name]
                                        </option>
                                    </select>
                                    <input hidden th:field="*{user}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn col-xs-4 btn-success btn-send"><span th:text="${master.isPersist()} ? Edit : Add" ></span> </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-multiselect.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $(function () {
            $('.multiselect-ui').multiselect({
                includeSelectAllOption: true
            });
        });
    });


</script>
</body>
</html>