<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard </title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/custom.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Master App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Dashboard</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-10">
                <h2>Masters</h2>
            </div>
            <div class="col-md-1">
                <a class="btn btn-default" th:href="@{/masters/new}" role="button">
                    <span class="glyphicon glyphicon-plus"></span> Add Master
                </a>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 150px;">Name</th>
                <th style="width: 200px;">Address</th>
                <th>City</th>
                <th>Telephone</th>
                <th>Review</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="master : ${masters}">
                <td><a href="#" th:href="@{|/masters/${master.id}|}">
                        <span th:text="${master.fullName}"></span>
                    </a>
                </td>
                <td th:text="${master.address}">[address]</td>
                <td th:text="${master.city}">[city]</td>
                <td th:text="${master.phone}">[phone]</td>
                <td>
                    <a href="#" th:href="@{|/masters/${master.id}/review/new|}">
                        <span class="glyphicon glyphicon-star"></span><span th:text="${master.countReviews()}"></span>
                    </a>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-5">
                            <a href="#"
                               th:href="@{|/masters/${master.id}/aptment/new|}">
                                <span class="glyphicon glyphicon-book"></span> book an appointment</a>
                        </div>
                        <div class="col-md-3">
                            <a href="#"
                               th:href="@{|/masters/${master.id}/edit|}">
                                <span class="glyphicon glyphicon-pencil"></span> Edit
                            </a>

                        </div>
                        <div class="col-md-3">
                            <a th:href="@{|/masters/${master.id}/delete|}">
                                <span class="glyphicon glyphicon-remove"></span> Delete</a>
                        </div>
                    </div>

                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>