<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard </title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/custom.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Master App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Dashboard</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <h2>Master Information </h2>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <tr>
                    <th>Name:</th>
                    <td><b th:text="${master.fullName} ">[firstname]</b></td>
                </tr>
                <tr>
                    <th>Master of:</th>
                    <td><b th:text="${master.masterOf} ">[firstname]</b></td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td th:text="${master.address}">[address]</td>
                </tr>
                <tr>
                    <th>City:</th>
                    <td th:text="${master.city}">[city]</td>
                </tr>
                <tr>
                    <th>Telephone:</th>
                    <td th:text="${master.phone}">[telephone]</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td th:text="${master.email}">[telephone]</td>
                </tr>
                <tr>
                    <th>Services:</th>
                    <td><span th:each="service : ${master.services}" th:text="${service.name }"></span></td>

                </tr>
                <tr>
                    <th>Reviews:</th>

                    <td>
                        <div class="row">
                            <span th:each="review : ${master.reviews}" th:text="|${review.value}; |"></span>
                        </div>
                        <div class="row">
                            <a href="#" th:href="@{|/masters/${master.id}/review/new|}">
                                Review this master
                            </a>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <h2>Master Appointments </h2>

    <div class="row">
        <div class="col-md-8">

            <table class="table hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Scheduled On</th>
                    <th>Scheduled At</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="appt : ${master.appointments}">
                    <td th:text="${appt.id}"></td>
                    <td th:text="${appt.clientFName}"></td>
                    <td th:text="${appt.clientLName}"></td>
                    <td th:text="${appt.clientEmail}"></td>
                    <td th:text="${appt.scheduledDate}"></td>
                    <td th:text="${appt.scheduledAt}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>